/* CSS Mini Reset */
/* from http://www.vcarrer.com/2010/05/css-mini-reset.html */

html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }

/* end reset */

@import './cards';

// vars
// palette
$text-color: rgba(0, 0, 0, 0.875);
$decoy-green: #008800;
$highlight: #ffbb00;
$nav-color: #1a1a1a;

$gutter: 10px;
$text-width: 38em;
$breakpoint: 832px;

$body-text: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
$heading-text: 'Lato', Helvetica, Arial, sans-serif;

@mixin link-styles(){
    color: $decoy-green;
    text-decoration: none;
    transition: color ease 0.3s;
    &:hover{
        color: lighten($decoy-green, 10%);
    }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-size: 16px;
    color: $text-color;
    font-family: $body-text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-text;
    margin-top: 1.6em;
    margin-bottom: 0.5em;
}

@supports(display: grid){
    #page-outer{
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 100%;
    }
}

//navbar stuff

.navigation-wide, .navigation-narrow{
    display: none;
}

@media screen and (min-width: $breakpoint){
    .navigation-narrow, #navigation-btn{
        display: none !important; //since it's opened by js...
    }
    .navigation-wide{
        display: flex;
    }
}

header{
    @include card(2);
    width: 100%;
    background-color: $nav-color;
    z-index: 10;
    font-family: $heading-text;
    #navigation-btn{
        background-color: $nav-color;
        border: none;
        outline: none;
        padding-top: 5px;
        color: white;
        height: 50px;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 0.9em;
        height: 40px;
        transition: all ease 0.3s;
        
    }
    .navigation-wide{
        height: 50px;
        line-height: 50px;
        justify-content: space-between;
        a{
            display: inline-block;
            margin-right: 20px;
            &:hover{
                color: lighten($decoy-green, 10%);
            }
            &.active{
                border-bottom: 1px solid $highlight;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .navigation-narrow{
        a{
            height: 40px;
            line-height: 40px;
            display: block;
            padding: 0 $gutter;
            &:hover{
                color: lighten($decoy-green, 10%);
                background-color: lighten($nav-color, 10%);
            }
            &.active{
                color: $highlight;
                background-color: lighten($nav-color, 10%);
            }
        }
    }
}


main{
    h2:first-of-type{
        margin-top: 1em;
    }
    p, ul, ol{
        max-width: $text-width;
        line-height: 1.65em;
        a {
            @include link-styles;
        }
    }
    ul, ol{
        padding-left: 1.4em;
    }
    ul li img{
        vertical-align: middle;
        margin-bottom: 1em;
        margin-right: 1em;
    }
    img[alt="photo of headteacher"]{
        float: left;
        margin-top: 0.5em;
        margin-right: 12px;
        width: 200px;
    }
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 $gutter;
}

.homepage-content{
    .hero{
        height: 70vh;
        margin-bottom: 20px;
        background:
            url("http://via.placeholder.com/2560x800") 
            center
            no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            @include card(3);
            color: white;
            font-family: 'Comfortaa', cursive;
            font-size: 9vmin;
            padding: 0.3em 1em 0.1em 0.3em;
            border-bottom-right-radius: 20%;
            background-color: rgba(black, 0.3);
            margin: 0;
            span{
                font-size: 0.55em;
            }
        }
    }
}

@supports(display: grid){
    .homepage-content{
        .container{
            display: grid;
            grid-template-areas:
                "main sidebar";
            grid-gap: 0.2em 3em;
        }
        main{
            grid-area: main;
        }
        .sidebar{
            grid-area: sidebar;
        }
    }
    @media screen and (max-width: $breakpoint){
        .homepage-content .container{
            grid-template-areas:
                "main"
                "sidebar";
        }        
    }
}

@supports(display: grid){
    .page-content{
        display: grid;
        grid-template-areas: 
            "title title"
            "main aside";
        grid-gap: 0.2em 3em;
        h1{
            grid-area: title;
        }
        main{
            grid-area: main;
        }
        aside{
            grid-area: aside;
        }
    }
    @media screen and (max-width: $breakpoint){
        .page-content{
            grid-template-areas:
                "title"
                "aside"
                "main"
        }
    }
}

table{
    margin: 1em 0 2em 0;
    font-family: $heading-text;
    tr, thead{
        border-bottom: 2px solid #ccc;
        &:last-child{
            border-bottom: none;
        }
    }
    td, th{
        padding: $gutter;
        text-align: left;
        line-height: 1.35em;
        font-size: 0.9em;
        a{
            @include link-styles;
        }
        ul{
            margin: 0;
        }
    }
}

//button link stuff
.info-btn{
    @include card(1);
    position: relative;
    background-color: $decoy-green;
    max-width: 300px;
    padding: 12px;
    border-radius: 2px;
    transition: all ease 0.3s;
    font-family: $heading-text;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px $text-color;
    &:hover{
        cursor: pointer;
        @include card(3);
        background-color: lighten($decoy-green, 5%);
    }
    .launch-icon{
        text-shadow: 1px 1px 2px $text-color;
        position: absolute;
        right: 7px;
        bottom: 7px;
    }
}

@supports (display: grid){
    .buttons-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 75px;
        gap: 5px;
        margin-top: 2em;
    }
    .info-btn{
        margin-bottom: 0;
    }
}

//people photo grid stuff
.people-grid{
    margin: $gutter;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    gap: $gutter;
    figure{
        font-family: $heading-text;
        margin: 0;
        img{
            @include card(1);
            max-width: 100%;
            border-radius: 2px;
        }
        figcaption{
            margin: 0.6em 0;
        }
    }
}

.responsive-iframe{
    border-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
}

@supports (display: grid){
    .image-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: $gutter;
    }
}

.sidebar{
    // font-size: 0.9em;
    // font-family: $heading-text;
    // border: none;
    // display: flex;
    // flex-direction: row;
    // max-width: 15em;
    // flex-wrap: wrap;
    // .twitter-timeline{
    //     height: 400px;
    //     flex-basis: 100%;
    // }
    // h3{
    //     margin-bottom: 1em;
    // }
    // a {
    //     @include link-styles();
    //     margin-bottom: 2em;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     text-align: justify;
    //     img{
    //         max-height: 3em;
    //         margin-bottom: 0.2em;
    //     }
    // }
    font-size: 0.9em;
    font-family: $heading-text;
    .useful-links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        a{
            @include link-styles();
            display: block;
            max-width: 15em;
            margin: $gutter;
            padding: $gutter;
            text-align: center;
            border: none;
            img{
                text-align: center;
                margin: $gutter auto;
                max-height: 3em;
                display: block;
            }
        }
    }
    .twitter-timeline{
        @include link-styles();
        display: block;
        height: 300px;
        width: 100%;
    }
}

@media screen and (min-width: $breakpoint){
    .sidebar{
        padding-left: 2em;
        border-left: 1px solid $highlight;
        .useful-links{
            flex-direction: column;
            a{
                margin: 0;
                padding: $gutter 0;
                border-bottom: 1px solid lighten($decoy-green, 10%);
                &:last-of-type, &:first-of-type{
                    border: none;
                }
            }
        }
    }
}

.toc{
    font-family: $heading-text;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            padding-right: 2em;
            padding-bottom: 0.65em;
            a{
                @include link-styles();
                text-decoration: underline;
            }
        }
    }
}

@media screen and (min-width: $breakpoint){
    .toc {
        h3{
            margin-top: 1em;
            margin-bottom: 0.8em;
        }
            ul li{
            display: block;
            padding-right: 0;
        }
    }
}

footer{
    width: 100%;
    border-top: 1px solid $decoy-green;
    @include card(2);
    margin-top: 30px;
    padding-top: 20px;
    font-family: $heading-text;
    .footer-upper{
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    .footer-lower{
        width: 100%;
        background-color: $decoy-green;
        margin-top: 20px;
        padding: 10px 0;
        div{
            color: white;
            font-size: 0.9em;
            line-height: 1.6em;
            a{
                color: white;
                transition: color ease 0.3s;
                &:hover{
                    color: $highlight;
                }
            }
        }
    }
}

